.category-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-item-card {
    width: 90%;
    max-width: 362px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: 'MyFont';
    background: #11111196;
    border: 2px solid #111;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.813) !important;
    border: 2px solid #c6c6c6;
}

/* 
.item-card:hover {
    background: var(--card-bg-hover);
} */

.category-item-card img {
    max-width: 100px;
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    border-radius: 4px;
    float: right;
}

.category-price-with-coin {
    font-family: 'MyFont';
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.category-coin {
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
}

.category-main-data {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: 20px;
    align-items: center;
}

.category-item-card h2 {
    color: #242424;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'MyFont';
    background: #c6c6c6;
    padding: 10px;
    box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset !important;
}

.category-item-card p {
    margin: 10px;
    font-family: 'MyFont';
}

.category-item-card .description {
    font-family: 'MyFont';
    font-size: 14px;
    margin-bottom: 10px;
}

.category-item-card strong {
    font-family: 'MyFont';
    font-weight: bold;
}

.category-rarity-display {
    margin-left: 0;
    float: left;
    margin-bottom: 10px;
}

.category-rarity-display img.rarity {
    height: 24px;
    width: auto;
    max-width: none;
    margin-right: 5px;
}
.stable{
    color: green;
}
.underpaid{
    color: red;
}
.overpaid{
    color: yellow;
}

