.item-container {
    background-color: #11111196;
    backdrop-filter: blur(10px);
    max-width: 600px;
    width: 100%;
    border: 2px solid #c6c6c6;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.item-nature-pill {
    display: inline-block;
    background: var(--pill-bg);
    color: var(--text);
    font-weight: 600;
    padding: 6px 14px;
    font-size: 0.95rem;
    margin: 10px 0;
}

.item-stability {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.STABLE {
    font-family: 'MyFont';
    color: limegreen;
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid rgb(0, 255, 0);
}

.OVERPAID {
    font-family: 'MyFont';
    color: goldenrod;
    background-color: rgba(255, 255, 0, 0.3);
    border: 1px solid rgb(255, 255, 0);
}

.UNDERPAID {
    font-family: 'MyFont';
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid rgb(255, 0, 0);
}

.item-container img {
    max-width: 35%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 4px;
}

.item-price-img img {
    max-width: 1rem;
}

#rarityDropdown img {
    max-width: 100%;
}

.item-container h1 {
    font-family: 'MyFont';
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background: transparent;
    padding: 8px;
    color: #242424;
    background-color: #c6c6c6;
    box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset !important;
}

.item-card {
    width: inherit;
}

.item-price {
    font-weight: bold;
    font-family: 'MyFont';
    font-size: 1.2em;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.item-price-img {
    display: flex;
    width: max-content;
    align-items: center;
    width: 15%;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-family: MyFont, sans-serif;
}

.item-price-container img {
    max-width: 20%;
    margin: 0;
}

.item-price-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    gap: 24px;
}

.item-pet-price-container {
    margin-top: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 24px;
    margin: 20px 0;
}

.item-demand-main {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.item-price-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-price-img {
    display: flex;
    width: max-content;
    align-items: center;
    width: 30%;
}

.item-strong {
    font-family: 'MyFont';
    color: orange;
}

.item-container p {
    font-family: 'MyFont';
    font-size: 1.2em;
    margin: 0;
    color: var(--secondary-text-color);
    width: 100%;
}

.item-price img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0% !important;
}

.item-rarity-display {
    padding: 5px;
    font-family: 'MyFont';
    font-size: 1.2em;
    border-radius: 5px;
    display: inline-block;
    color: white;
    align-items: center;
    justify-content: center;
}

.item-attribute-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

img.rarity {
    height: 24px;
    width: auto;
    vertical-align: middle;
    margin: 0% !important;
}

.item-rarity-display img {
    max-width: 100%;
}

.item-attribute-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 0px !important;
    font-weight: bold;
    min-width: 100px;
    justify-content: center;
    font-family: 'MyFont';
    font-size: 1.2em;
    color: #a6a6a6 !important;
}

.item-yes {
    background-color: green;
    color: white;
}

.item-no {
    background-color: red;
    color: white;
}

.item-attribute-box img {
    width: 16px;
    height: 16px;
    margin: 0% !important;
    vertical-align: middle;
    margin-right: 8px;
}

.item-back {
    color: #222;
    background: var(--primary-color);
    padding: 10px 20px;
    margin: 10px auto 0 auto;
    display: block;
    width: fit-content;
    text-decoration: none;
    transition: 0.1s;
}

.item-back:hover {
    background: var(--primary-color-hover);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 698px) {

    .item-price,
    .item-pet-price-container {
        flex-direction: column;
    }

    .item-stability {
        flex-direction: column;
    }
}

.item-attribute-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.item-attribute-box {
    width: 156px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    gap: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0 5px;
    font-family: revert;
}

.item-attribute-box img {
    width: 20px;
    height: 20px;
}

.item-attribute-box.item-yes {
    background-color: #2ecc7138;
    color: var(--main-text-color);
    border: 1px solid #2ecc71;
}

.item-attribute-box.item-no {
    background-color: #e74c3c38;
    color: var(--main-text-color);
    border: 1px solid #e74c3c;
}

.item-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
}