#searchBox {
  display: flex;
  font-family: "MyFont";
  width: 90%;
  max-width: 600px;
  padding: 15px 20px;
  margin: 15px auto;
  display: block;
  border: 2px solid #1a1a1b;
  font-size: 16px;
  color: #fff;
  outline: none;
  background-color: #313233;
  box-shadow: 0 4px 0 0 #242425 inset;
}

#searchBox:focus {
  color: #ffffff;
}

.market-boxy-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
}

/* Results Container */
#results {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  top: 10%;
}

/* Item Cards */
.market-result {
  background-color: #48494a;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  font-family: "MyFont";
  width: 800%;
  max-width: 350px;
  border: 2px solid #19191a;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 -4px 0 0 #303132 inset;
}

.market-result:hover {
  transform: translateY(-5px);
  border-color: #2ccb1d;
}

.market-result img {
  height: auto;
  object-fit: contain;
  float: left;
}

.market-result .market-info {
  font-family: "MyFont";
  padding: 15px;
  width: inherit;
}

.market-result .market-info b {
  font-family: "MyFont";
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.market-result-div-info {
  font-family: "MyFont";
  font-size: 14px;
  color: #d0d1d4;
  margin-bottom: 00px;
  display: flex;
  align-items: center;
}

.market-result img.market-coin {
  width: 14px;
  height: 14px;
  float: none;
  margin-left: 5px;
}

/* Category Section */
.market-category-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.market-category-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.market-category-item {
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 450px;
  justify-content: space-around;
  display: flex;
  background: #c6c6c6;
  display: flex;
  align-items: center;
  color: #3c3c3c;
  font-weight: bold;
  font-size: 24px;
  transition: all 0.1s;
  text-transform: capitalize;
  cursor: pointer;
  /* Add cursor pointer */
  box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset;
  justify-content: space-between;
  border: 2px solid #2a2a2a;
}

.market-category-item:hover {
  border: 2px solid #fff;
  box-shadow: 2px 2px 0 0 #2ccb1d inset, -1px -1px 0px 3px #1d681a inset;
  background: #218306;
  color: #fff !important;
}

.market-description {
  font-family: "MyFont";
  font-size: 16px;
  color: #d0d1d4;
  margin-top: 5px;
  text-align: center;
}

.market-category-item img {
  max-width: 80%;
  max-height: 80%;
  height: 72px;
  width: 72px;
  object-fit: contain;
  margin-left: 4px;
}

.market-category-item img.market-bz {
  image-rendering: pixelated;
}

.market-title {
  font-size: 3rem;
  font-family: "MinecraftTen";
  margin-top: 10rem;
  text-align: center;
  color: var(--primary-text-color);
}

.market-subtitle {
  font-size: 20px;
  font-family: "MyFont";
  margin-bottom: 10%;
  text-align: center;
  color: var(--primary-text-color);
}

.market-search-icon {
  display: block;
}

.market-categories {
  font-size: 30px;
  font-family: "MinecraftTen";
  margin-bottom: 10%;
  text-align: center;
  transition: transform 0.9s;
  color: var(--primary-text-color);
}

.market-categories:hover {
  transform: scale(1.1);
  text-transform: capitalize;
}

.market-category-name {
  margin-right: auto;
  margin-left: auto;
}

.market-category-name p {
  font-size: 23px;
  word-spacing: 2px;
  font-family: "MyFont";
  cursor: pointer;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .market-category-name {
    font-size: 40px;
  }

  .market-categories {
    font-size: 40px;
  }

  .market-searchBox {
    width: 90%;
    height: 40px;
  }
}

/* Divider Line */
/* BRO YK THAT BORDER-BOTTOM EXISTS FOR A REASON */
.market-divider {
  width: 100%;
  height: 3px;
  background-color: #343536;
  margin: 0px 0px 20px 0px;
  box-shadow: 0px 1px 0 1px #4c4d4e;
}

.market-background {
  background: url("../Backgrounds/trees.webp");
  background-color: #847474;
  background-blend-mode: multiply;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.market-result {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.market-result img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
}

.market-info b {
  display: block;
}

.market-info span {
  font-size: 0.9em;
}

.market-info .market-description {
  font-size: 0.8em;
  margin-top: 5px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#results p {
  padding: 10px;
  text-align: center;
}

.market-info-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.market-info-head img {
  width: 65px;
  height: 65px;
}
